<h1>
  Recipes
  <div class="recipe-editor">
    <% if logged_in? %>
      <%= link_to "Add new recipe", new_recipe_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</h1>

<div class="search-area panel panel-default">
  <div class="panel-heading">Search recipes</div>
  <div class="panel-body">
    <%= form_for(@search, url: search_path, method: "GET") do |f| %>
      <div class="form-group form-inline">
        <div class="form-group">
          <%= f.label(:order_by, "Sort by") %>
          <%= f.select(:order_by, [["Rate", "rate"], ["Time", "time"]], {include_blank: 'Select'}) %>
        </div>
        <div class="checkbox" id="only">
          <%= f.check_box(:has_report) %>
          <%= f.label(:has_report, "Only recipes with report") %>
        </div>
      </div>
      <div class="form-group">
        <%= f.label(:rate_over, "Rate: over") %>
        <%= f.number_field(:rate_over, in: 1...6) %>
      </div>
      <div class="form-group form-inline">
        <%= f.label(:time_under, "Time: from") %>
        <%= f.number_field(:time_under) %>
        <%= f.label(:time_over, "to") %>
        <%= f.number_field(:time_over) %>
      </div>
      <div class="form-group">
        <%= f.label(:by_ingredient, "Ingredient:") %>
        <%= f.select(:by_ingredient, Ingredient.has_recipe.collect {|i| [ i.title, i.id ] }, {include_blank: 'Select Ingredient'}) %>
      </div>
      <div class="form-group form-inline">
        <%= f.label(:by_creator, "Creator:") %>
        <%= f.select(:by_creator, User.only_creator.collect {|u| [ u.username, u.id ] }, {include_blank: 'Select Creator'}) %>
      </div>
      <div class="form-group">
        <%= f.label(:has_report_by, "has report by") %>
        <%= f.select(:has_report_by, User.has_report.collect {|u| [ u.username, u.id ] }, {include_blank: 'Select User'}) %>
      </div>
      <%= f.submit("Search", class: "btn btn-primary") %>
      <%= link_to "Clear", root_path, class: "btn btn-sm btn-default" %>
    <% end %>
  </div>
</div>

<div class="recipes">
  <ul>
    <%= render partial: "shared/recipes", collection: @recipes, as: :recipe %>
    <%= render partial: "shared/recipes", collection: @no_repo, as: :recipe if @no_repo %>
  </ul>
</div>
