<h1>
  Recipes
  <div class="recipe-editor">
    <% if logged_in? %>
      <%= link_to "Add new recipe", new_recipe_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</h1>

<div class="search-area panel panel-default">
  <div class="panel-heading">Search recipes</div>
  <div class="panel-body">
    <%= form_for(@search, url: search_path, method: "GET") do |f| %>
      <div class="checkbox">
        <%= f.check_box(:order_by_rate) %>
        <%= f.label(:order_by_rate) %>
      </div>
      <div class="checkbox">
        <%= f.check_box(:order_by_time) %>
        <%= f.label(:order_by_time) %>
      </div>
      <div class="checkbox">
        <%= f.check_box(:has_report) %>
        <%= f.label(:has_report, "Only with report") %>
      </div>
      <div class="form-group">
        <%= f.label(:rate_over) %>
        <%= f.number_field(:rate_over, in: 1...6) %>
      </div>
      <%= f.submit("Search", class: "btn btn-default") %>
    <% end %>
  </div>
</div>

<div class="recipes">
  <ul>
    <%= render partial: "shared/recipes", collection: @recipes, as: :recipe %>
    <%= render partial: "shared/recipes", collection: @no_repo, as: :recipe if @no_repo %>
  </ul>
</div>
