<h1>Add new recipe</h1>

<div class="form-field">
  <%= form_for(@recipe) do |f| %>
    <div class="form-group">
      <%= f.label :title %>
      <%= f.text_field :title, class: "form-control" %>
    </div>

    <%= f.fields_for(:recipe_ingredients) do |rif| %>
      <div class="form-inline">
        <%= rif.fields_for(:ingredient) do |ingf| %>
          <div class="form-group">
            <%= ingf.label :title, "Ingredient" %>
            <%= ingf.text_field :title, class: "form-control" %>
          </div>
        <% end %>

        <div class="form-group">
          <%= rif.label :quantity %>
          <%= rif.number_field :quantity, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= rif.label :unit %>
          <%= rif.text_field :unit, class: "form-control" %>
        </div>
      </div>
    <% end %>
    <br>
    <div class="form-group">
      <%= f.submit "Create new recipe", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
