<h1>
  <%= @user.username %>
  <div class="user-editor">
    <% if logged_in? && @user == current_user %>
      <%= link_to "Edit", edit_user_path(@user), class: "btn btn-sm btn-primary" %>
      <%= link_to "Delete", user_path(@user), method: :delete, class: "btn btn-sm btn-default" %>
    <% end %>
  </div>
</h1>

<h2>Recipes</h2>

<div class="recipes">
  <ul>
    <%= render partial: "shared/recipes", collection: @recipes, as: :recipe %>
  </ul>
</div>

<h2>Reports</h2>

<div class="reports">
  <ul>
    <%= render partial: "shared/reports", collection: @reports, as: :report %>
  </ul>
</div>
