<div class="form-field">
  <%= form_for(report, url: url) do |f|%>
    <div class="form-group">
      <%= f.label(:rate) %>
      <%= f.number_field(:rate, in: 1...6) %>
    </div>

    <div class="form-group">
      <%= f.label(:comment) %>
      <%= f.text_field(:comment) %>
    </div>

    <%= f.hidden_field(:user_id, value: current_user.id) %>

    <div class="form-group">
      <%= f.submit "Add new report", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
