<!DOCTYPE html>
<html>
  <head>
    <title>RecipeManager</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="container">
        <%= link_to "Recipe Manager", '/', id: "logo" %>
        <nav>
          <% if logged_in? %>
            <p class="navbar-text">Signed in as <%= current_user.username %></p>
          <% end %>
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to "Home", '/', id:"home" %></li>
            <% if logged_in? %>
              <li><%= link_to "My Page", user_path(current_user) %></li>
              <li><%= link_to "Sign out", signout_path %></li>
            <% else %>
              <li><%= link_to "Sign up", signup_path %></li>
              <li><%= link_to "Sign in", signin_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </header>
    <div class="container">
      <% flash.each do |message_type, message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
